.main-header{
    height: 15vh;
    width:  100vw;  
    top: 0px; 
    color: white;
}
.logo-banner{
    height: 100%;
    width: 60%;
    position: relative;
    float: left;
    margin-left: 10%;
    transform: translateY(-5%);
    background-image: url("../images/LogoBanner2.png");
    background-position: 50%;
    background-size: cover;
    background-size: 40%;
    background-repeat: no-repeat;
}
.logo-box{
    margin-left: 3%;
    margin-top: 0.5%;
    height: 120%;
    width: 10%;    
    float: left;
    background-image: url("../images/icon_alt.png");
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.logo-box:hover{
    background-image: url("../images/icon.png");
    cursor: pointer;
}
.logo-box::before{
    position: absolute;
    background: url("../images/icon_alt.png");
    content: '';
}
.social-icon{
    scale: 75%;
    width: 3vw;
    height: 50%;
    position: relative;
    top: 50%;
    right: 2%;
    float: right;
}
#bsky-icon{
    background-image: url(../images/bluesky-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#bsky-icon:hover{
    background-image: url(../images/bluesky-logo-alt.png);
    cursor: pointer;
}
#yt-icon{
    background-image: url(../images/youtube-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#yt-icon:hover{
    background-image: url(../images/youtube-logo-alt.png);
    cursor: pointer;
}
#twitch-icon{
    background-image: url(../images/twitch-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#twitch-icon:hover{
    background-image: url(../images/twitch-logo-alt.png);
    cursor: pointer;
}
#itch-icon{
    background-image: url(../images/itchio-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#itch-icon:hover{
    background-image: url(../images/itchio-logo-alt.png);
    cursor: pointer;
}
#email{    
    position: fixed;
    display: inline-block;
    top: 0px;
    left: 16%;
}