@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    font-family: Azeret Mono;
    box-sizing: border-box;
}
html, body
{
    margin: 0px;
    padding: 0px;
}
body
{
     background-image: url("../images/background.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-color: #000000;
    background-repeat: no-repeat;
}
a{
    display: block;
    height: 100%;
    font-style: normal;
    text-decoration: none;
    color:rgb(180, 156, 189);
} 
.footer{
    position: fixed;
    font-size: 1.5vh;
    bottom: 2vh;
    width: 100vw;
    height: 2vh;
    color: white;
    left: 5vw;
    text-align: center;
}

#link{
    display: inline;    
    
}

/* Core Containers */

.main-container{
    height: 80vh;
    width: 84vw;
    background-image: url("../images/ContainerBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4c3b5d;
    overflow-y: scroll;
    overflow-x: hidden;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: double;
    position: fixed;
    top: 15vh;
    left: 15vw;
}
/* Main Container Layout */
.left-main{
    margin-top: 5px;
    margin-right: 15px;
    width: 100%;
    float:none;
    color: rgb(238, 226, 241);
}
.right-main{
    margin-left: 10px;
    margin-top: 5px;
    width: 45%;
    float: right;
    align-content: right;
    color: white;
}
#about-left{
    text-align: center;
    font-size: 20px;
}
.vid-container{
    align-content: center;
}
.image-container{
    image-rendering: optimizeSpeed;
    align-content: center;
}

@media all and (max-width: 500px) {
    .p-c {
    width: 17em;
    }.project-card{
    width: 17em;
    }.welcome{
    height: 50vh;
    }.nav-item{
    width: 100%;
    }.about-overflow{
    padding-right: 10px;
    padding-left: 5px;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    justify-items: space-around;
    }
}