---
import Layout from "../../layouts/Layout.astro"
import MainContainer from '../../components/MainContainer.astro';
---
<Layout title ="Home">
    <MainContainer slot = "MainContainer">
        <div id="about-left" class="left-main">
            <p>Portfolio website for Winter Jones.</p>
            <p>This website is currently under construction. Please contact if you have any questions about my work.</p>
        </div>
    </MainContainer>
</Layout>