---
import '../styles/style.css';
---
<!-- ABOUT -->     
<div class="footer">
    Last updated 19/12/25 |
    Copyright © 2025 by bugsaretasty | 
    enquiries: 
    <a id="link" href="mailto:contact@bugsaretasty.dev" target="_blank" rel="noopener noreferrer">
        contact@bugsaretasty.dev
    </a>
</div>

