---
import '../styles/style.css';
import '../styles/header.css';
---
<header class="main-header">
    <div class="logo-box">
        <a href="http://bugsaretasty.dev/" aria-label="Home"/>
    </div>
    <div class="logo-banner">
    </div>
    <span class="social-icon" id="bsky-icon" aria-label="Bluesky">
        <a href="https://bsky.app/profile/bugsaretasty.dev" target="_blank" rel="noopener noreferrer"/>
    </span>
    <span class="social-icon" id="yt-icon" aria-label="Youtube">
        <a href="https://youtube.com/@bugsaretasty" target="_blank" rel="noopener noreferrer"/>
    </span>
    <span class="social-icon" id="twitch-icon" aria-label="Twitch">
        <a href="https://twitch.tv/bugsaretasty" target="_blank" rel="noopener noreferrer"/>
    </span>  
    <span class="social-icon" id="itch-icon" aria-label="Itch.io">
        <a href="https://bugsaretasty.itch.io/" target="_blank" rel="noopener noreferrer"/>
    </span>
</header>