---
import '../styles/style.css';
import '../styles/sidebar.css';
---
<div class="main-sidebar">  
    <div id="industry" class="side-box">
        <a href="../industry-portfolio/">Industry Portfolio</a>
    </div>          
    <div id="catamyst" class="side-box">
        <a href="../catamyst">Catamyst</a>
    </div>
    <div id="spirit-of-the-sea" class="side-box">
        <a href="../university-projects/">University Projects</a>
    </div>          
</div>