---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Sidebar from '../components/Sidebar.astro';
const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" type="image/svg+xml" href="./favicon.svg"/>
        <meta name="generator" content={Astro.generator} />
        <title>{title} | bugsaretasty</title>
    </head>
    <body>
        <Header/>
        <slot name="MainContainer"/>
        <Sidebar/>
        <Footer/>
    </body>
</html>